<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>热门分类</string>
		<key>classTypes</key>
		<array>
			<string>路边烧烤</string>
			<string>小吃快餐</string>
			<string>家电维修</string>
			<string>手机店</string>
			<string>电动自行车</string>
			<string>酒吧</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>常用电话号码</string>
		<key>classTypes</key>
		<array>
			<string>保姆月嫂</string>
			<string>货运搬家</string>
			<string>建材维修</string>
			<string>家电清洗</string>
			<string>开锁换锁</string>
			<string>水站</string>
			<string>棋牌室</string>
			<string>保洁</string>
			<string>快递</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>便民服务</string>
		<key>classTypes</key>
		<array>
			<string>票务</string>
			<string>居委会</string>
			<string>修锁换锁</string>
			<string>洗衣店</string>
			<string>汽车服务</string>
			<string>快照复印</string>
			<string>房产中介</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>购物助手</string>
		<key>classTypes</key>
		<array>
			<string>宠物用品</string>
			<string>汽车用品</string>
			<string>服装饰品</string>
			<string>面包店</string>
			<string>眼镜店</string>
			<string>渔具</string>
			<string>化妆品店</string>
			<string>婚庆用品</string>
			<string>花鸟鱼虫</string>
			<string>装修建材</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>美食小吃</string>
		<key>classTypes</key>
		<array>
			<string>周边饭店</string>
			<string>街边小吃</string>
			<string>菜焙子</string>
			<string>甜点饮品</string>
			<string>小吃快餐</string>
			<string>深夜食堂</string>
			<string>烘焙糕点</string>
			<string>婚庆酒店</string>
			<string>清真美食</string>
			<string>火锅</string>
			<string>其他</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>运动健身</string>
		<key>classTypes</key>
		<array>
			<string>瑜伽</string>
			<string>健身房</string>
			<string>户外健身</string>
			<string>太极</string>
			<string>拉丁舞</string>
			<string>舞蹈协会</string>
			<string>街舞</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>母婴类</string>
		<key>classTypes</key>
		<array>
			<string>孕婴摄影</string>
			<string>童装店</string>
			<string>亲子游玩</string>
			<string>孕婴游泳馆</string>
			<string>母婴店</string>
			<string>母婴微商</string>
			<string>亲子中心</string>
			<string>幼儿园</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>className</key>
		<string>母婴类</string>
		<key>classTypes</key>
		<array>
			<string>孕婴摄影</string>
			<string>童装店</string>
			<string>亲子游玩</string>
			<string>孕婴游泳馆</string>
			<string>母婴店</string>
			<string>母婴微商</string>
			<string>亲子中心</string>
			<string>幼儿园</string>
			<string>其他</string>
		</array>
	</dict>
</array>
</plist>
